@{
	Layout = null;
}

<!DOCTYPE html>
<html>
 @await Component.InvokeAsync("_LayoutHead")

<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbar")
		@await Component.InvokeAsync("_LayoutSidebar")
		
		<div class="main-panel">
			@RenderBody()
		</div>
	</div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
@await Component.InvokeAsync("_LayoutScript")
</html>